# Ignore everything recursively
**

# But don't ignore these files in the root
!.gitignore
!*.md
!*.rst
!bootstrap.swift
!Cargo.*

# Un-ignore directories so git can look inside them
!src/

# Un-ignore src and every subdirectory inside it
!src/
!src/**/
!src/**/*.rs
