# Ignore everything recursively
**

# But don't ignore these files in the root
!.gitignore
!*.md
!bootstrap.swift
!Cargo.*

# Un-ignore directories so git can look inside them
!src/

# Then un-ignore files inside those directories
!src/**/*.rs
